div{

background-color: #ffffff;
width: fit-content;
height: auto;
margin: auto;
border-radius: 24px;
padding: 16px 16px;




}

button{

width: fit-content;
margin: auto;


}

input{

background-color: #a3e6d7;

}