<p>livre-page works!</p>
<div >
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Resumé</th>
            <th>Année de publication</th>
            <th>Auteur</th>
            <th>Genre</th>
            <th>Editeur</th>
            <th>Collection</th>
            <th>Actions possibles</th>
        </tr>
    </thead>

    <tbody >
        <tr *ngFor="let livre of livres$ | async; trackBy: trackLivre">
            <td>
                <a [routerLink]="[ '/livre', livre.id ]">{{ livre.titre }}</a>
            </td>
            <td>
                <p>{{ livre.resume }}</p>
            </td>
            <td>
                <p>{{ livre.annee }}</p>
            </td>
            <td>
                <p>{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</p>
            </td>
            <td>
                <p>{{ livre.genre.libelle }}</p>
            </td>
            <td>
                <p>{{ livre.editeur.nom }}</p>
            </td>
            <td>
                <p>{{ livre.collection.nom }}</p>
            </td>
            <td>
                <button (click)="update(livre)">Modifier</button>
                <button (click)="delete(livre)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<br>

<form (ngSubmit)="creerOuModifier()" [formGroup]="livreForm">
    <div>
        <label for="titre">Titre</label>
        <input id="titre" type="text" formControlName="titre" />
        
        @if (titreCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>
    <div>
        <label for="resume">Résumé</label>
        <input id="resume" type="text" formControlName="resume" />
        
        @if (resumeCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>
    <div>
        <label for="annee">Année de publication</label>
        <input id="annee" type="text" formControlName="annee" />
        
        @if (anneeCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>
    <div>
        <label for="auteur">Auteur</label>
        <select id="auteur" formControlName="auteur">
            <option *ngFor="let auteur of auteurs$ | async" [ngValue]="auteur">{{ auteur.nom }} {{ auteur.prenom }}</option>
        </select>
        @if (auteurCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>  
    <div>
        <label for="genre">Genre</label>
        <select id="genre" formControlName="genre">
            <option *ngFor="let genre of genres$ | async" [ngValue]="genre">{{ genre.libelle }}</option>
        </select>
        @if (genreCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>
    <div>
        <label for="editeur">Editeur</label>
        <select id="editeur" formControlName="editeur">
            <option *ngFor="let editeur of editeurs$ | async" [ngValue]="editeur">{{ editeur.nom }}</option>
        </select>
        @if (editeurCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>
    <div>
        <label for="collection">Collection</label>
        <select id="collection" formControlName="collection">
            <option *ngFor="let collection of collections$ | async" [ngValue]="collection">{{ collection.nom }}</option>
        </select>
        @if (collectionCtrl.hasError('required')) {
            <span>Obligatoire</span>
        }
    </div>

    @if (editingLivre) {
        <input type="submit" [disabled]="livreForm.invalid" value="Modifier" />
    }

    @else {
        <input type="submit" [disabled]="livreForm.invalid" value="Créer" />
    }
</form>

