<h1>Liste des collections</h1>

<div id="grille">
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of collections$ | async; trackBy: trackCollection">
            <td>
                <a [routerLink]="[ '/collection', c.id ]">
                    {{ c.nom }}
                </a>
            </td>

            <td>
                <button (click)="editCollection(c)">Modifier</button>
                <button (click)="deleteCollection(c)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div>
  <input type="text" [(ngModel)]="collection.nom">

  @if (collection.id) {
    <button (click)="modifierCollection()">Modifier</button>
  }

  @else {
    <button (click)="ajouterCollection()">Ajouter</button>
  }
</div>