<h1>Liste des collections</h1>

<div id="grille">
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of collections$ | async; trackBy: trackCollection">
            <td>
                <a [routerLink]="[ '/collection', c.id ]">
                    {{ c.nom }}
                </a>
            </td>

            <td>
                <button (click)="editCollection(c)">Modifier</button>
                <button (click)="deleteCollection(c)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="ajout">
        <form (ngSubmit)="ajouterModifierCollection()" [formGroup]="collectionForm">

            <div>
                <input  type="text" formControlName="nom" placeholder="Nom obligatoire"/> 
                
                @if (nomCtrl.hasError('required')) {
                    <div>Le nom est obligatoire</div>
                }
            </div>

            @if (editingCollection) {
                <input type="submit" [disabled]="collectionForm.invalid" value="Modifier" />
            }

            @else {
                <input type="submit" [disabled]="collectionForm.invalid" value="Ajouter" />
            }

        </form>
    </div>
</div>

