<h1>Liste des éditeurs</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let e of editeurs$ | async; trackBy: trackEditeur">
            <td>
                <a [routerLink]="[ '/editeur', e.id ]">{{ e.nom }}</a>
            </td>

            <td>{{ e.pays }}</td>

            <td>
                <button (click)="editEditeur(e)">Modifier</button>
                <button (click)="deleteEditeur(e)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>

<div>
  <input type="text" [(ngModel)]="editeur.nom">
  <input type="text" [(ngModel)]="editeur.pays">

  @if (editeur.id) {
    <button (click)="modifierEditeur()">Modifier</button>
  }

  @else {
    <button (click)="ajouterEditeur()">Ajouter</button>
  }
</div>