<h1>Liste des Genres</h1>


<div id="grille">
<table>
    <thead>
        <tr>
            <th>Libellé</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let genre of genres$ | async; trackBy: trackGenre">
            <td>
                <a [routerLink]="[ '/genre', genre.id ]">{{ genre.libelle }}</a>
            </td>

            <td>
                <button (click)="editer(genre)">Modifier</button>
                <button (click)="supprimer(genre)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>


<div class="ajout">
    <form (ngSubmit)="creerOuModifier()" [formGroup]="genreForm">
        <div>
            <input type="text" formControlName="libelle" />

            @if (libelleCtrl.hasError('required')) {
                <span>Le libellé est obligatoire</span>
            }
        </div>

        @if (editingGenre) {
            <input type="submit" class="btnmodif" [disabled]="genreForm.invalid" value="Modifier" />
        }

        @else {
            <input type="submit" class="btnmodif" [disabled]="genreForm.invalid" value="Créer" />
        }
    </form>
</div>

</div>

