<nav class="app-navbar">
  <div class="nav-container">
    
    <div class="nav-logo">
      <span>Bibliothèque</span>
    </div>

    <!-- Menu principal -->
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
      <li><a routerLink="/livres" routerLinkActive="active-link">Livres</a></li>
      <li><a routerLink="/auteur" routerLinkActive="active-link">Auteurs</a></li>
      <li><a routerLink="/editeur" routerLinkActive="active-link">Editeurs</a></li>
      <li><a routerLink="/collection" routerLinkActive="active-link">Collections</a></li>
      <li><a routerLink="/genre" routerLinkActive="active-link">Genres</a></li>
    </ul>

  </div>
</nav>