<h1>Ma biblio</h1>
<h3>Mes Auteurs</h3>
<div id="grille">

<table>

<thead>
<tr>
<th>Nom</th>
<th>Prenom</th>
<th>Nationalite</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let auteur of auteurs$ | async; trackBy: trackAuteur">
  <td>
    <a [routerLink]="['/auteur', auteur.id]"> {{ auteur.nom }} 
    </a>
  </td>

  <td>{{ auteur.prenom }}</td>
  <td>{{ auteur.nationalite }}</td>

  <td>
    <button (click)="editAuteur(auteur)" >Modifier</button>
    <button (click)="deleteAuteur(auteur)" >Supprimer</button>
  </td>
</tr>

</tbody>



</table>

<div class="ajout">
    <form (ngSubmit)="ajoutermodifierAuteur()" [formGroup]="auteurForm">

<div>
  <input  type="text" formControlName="nom" placeholder="Nom obligatoire"/> 
  
  @if (nameCtrl.hasError('required')) {
  <span></span>
            }
        </div>

  <input type="text" formControlName="prenom" placeholder="Prenom">
  <input type="text" formControlName="nationalite"  placeholder="Nationalite">

  @if (editingAuteur) {
    <button  class="btnmodif"  (click)="ajoutermodifierAuteur()">Modifier</button>
  }

  @else {
    <button class="btnmodif" (click)="ajoutermodifierAuteur()">Ajouter</button>
  }

    </form>
</div>



</div>


